<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohouxiao.driverexam.mapper.ProblemMapper">
    <resultMap id="BaseResultMap" type="com.guohouxiao.driverexam.model.Problem">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="question" jdbcType="VARCHAR" property="question"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="option_a" jdbcType="VARCHAR" property="optionA"/>
        <result column="option_b" jdbcType="VARCHAR" property="optionB"/>
        <result column="option_c" jdbcType="VARCHAR" property="optionC"/>
        <result column="option_d" jdbcType="VARCHAR" property="optionD"/>
        <result column="difficulty" jdbcType="VARCHAR" property="difficulty"/>
        <result column="knowledge" jdbcType="VARCHAR" property="knowledge"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, question, answer, option_a, option_b, option_c, option_d, difficulty, knowledge, 
    create_time
  </sql>
    <select id="selectByExample" parameterType="com.guohouxiao.driverexam.model.ProblemExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from problem
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from problem
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from problem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.guohouxiao.driverexam.model.ProblemExample">
        delete from problem
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.guohouxiao.driverexam.model.Problem">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into problem (id, question, answer, option_a,
        option_b, option_c, option_d,
        difficulty, knowledge, create_time
        )
        values (#{id,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR},
        #{optionA,jdbcType=VARCHAR},
        #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR},
        #{difficulty,jdbcType=VARCHAR}, #{knowledge,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.guohouxiao.driverexam.model.Problem">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="question != null">
                question,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="optionA != null">
                option_a,
            </if>
            <if test="optionB != null">
                option_b,
            </if>
            <if test="optionC != null">
                option_c,
            </if>
            <if test="optionD != null">
                option_d,
            </if>
            <if test="difficulty != null">
                difficulty,
            </if>
            <if test="knowledge != null">
                knowledge,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="difficulty != null">
                #{difficulty,jdbcType=VARCHAR},
            </if>
            <if test="knowledge != null">
                #{knowledge,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.guohouxiao.driverexam.model.ProblemExample"
            resultType="java.lang.Long">
        select count(*) from problem
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update problem
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.question != null">
                question = #{record.question,jdbcType=VARCHAR},
            </if>
            <if test="record.answer != null">
                answer = #{record.answer,jdbcType=VARCHAR},
            </if>
            <if test="record.optionA != null">
                option_a = #{record.optionA,jdbcType=VARCHAR},
            </if>
            <if test="record.optionB != null">
                option_b = #{record.optionB,jdbcType=VARCHAR},
            </if>
            <if test="record.optionC != null">
                option_c = #{record.optionC,jdbcType=VARCHAR},
            </if>
            <if test="record.optionD != null">
                option_d = #{record.optionD,jdbcType=VARCHAR},
            </if>
            <if test="record.difficulty != null">
                difficulty = #{record.difficulty,jdbcType=VARCHAR},
            </if>
            <if test="record.knowledge != null">
                knowledge = #{record.knowledge,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update problem
        set id = #{record.id,jdbcType=VARCHAR},
        question = #{record.question,jdbcType=VARCHAR},
        answer = #{record.answer,jdbcType=VARCHAR},
        option_a = #{record.optionA,jdbcType=VARCHAR},
        option_b = #{record.optionB,jdbcType=VARCHAR},
        option_c = #{record.optionC,jdbcType=VARCHAR},
        option_d = #{record.optionD,jdbcType=VARCHAR},
        difficulty = #{record.difficulty,jdbcType=VARCHAR},
        knowledge = #{record.knowledge,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.guohouxiao.driverexam.model.Problem">
        update problem
        <set>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                option_a = #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                option_b = #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                option_c = #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                option_d = #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="difficulty != null">
                difficulty = #{difficulty,jdbcType=VARCHAR},
            </if>
            <if test="knowledge != null">
                knowledge = #{knowledge,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.guohouxiao.driverexam.model.Problem">
    update problem
    set question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      difficulty = #{difficulty,jdbcType=VARCHAR},
      knowledge = #{knowledge,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>