<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<configuration status="INFO" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p - %l - %m%n"/>
        </console>
        <File name="File" fileName="webapps/driverexam/logs/DriverExamLog.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </appenders>
    <loggers>
        <!-- 下面是打印通过log4j2打印出mybatis语句的配置 -->
        <logger name="com.guohouxiao.driverexam.mapper" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.mybatis" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </root>
    </loggers>
</configuration>